# Node modules
node_modules/

# Archivos de npm
package-lock.json
package.json

# Prettier config
.prettierrc
.prettierrc.yaml
.prettierrc.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# Archivos compilados de Java
*.class

# Archivos txt que se generan al ejecutar algún proyecto
ejercicios/genericos/facturacion/facturas/
